<%= form_for(@tag) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <table>
      <tr>
        <td><%= f.label :name %>:</td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><%= f.label :parent_id %></td>
        <td><%= f.select :parent_id, nested_set_options(Tag, @tag){|i,level| "#{'-' * level} #{i.name}"}, :include_blank => true %></td>
    </tr>
  </table>
  <% unless @tag.photos.empty? %>
    <div id="tag_thumbnail">
      <% if @tag.thumbnail? %>
        <%= link_to(image_tag(@tag.thumbnail.url, :border => 0), {:action => :thumbnail, :id => @tag.id, :photo_id => @tag.thumb_id}, {:rel => 'facebox'}) %>
      <% else %>
        <%= link_to("Add thumbnail", {:action => :thumbnail, :id => @tag.id}, {:rel => 'facebox'}) %>
      <% end %>
    </div>
    <%= f.hidden_field(:thumb_id) %>
    <%= f.hidden_field(:thumb_width) %>
    <%= f.hidden_field(:thumb_height) %>
    <%= f.hidden_field(:thumb_x1) %>
    <%= f.hidden_field(:thumb_y1) %>
  <% end %>
  <%= f.submit %>
  </div>
<% end %>
