$('#prev_container').empty();
<% unless @prev.nil? %>
  $('#prev_container').append("<a id='prevLink' data-remote='true' href='<%=url_for(:action => :show, :id => @prev)%>'></a>");
  $('#prevLink').append("<div id='prev' class='video_preview' style='width: <%=@prev.thumb_width%>px; height: <%=@prev.thumb_height%>px;'>");
  $('#prev').append('<%=thumbnail_for(@prev)%>');
<% end %>
<% if @media.is_a?Photo %>
  $('#photo').html('<%= link_to(image_tag(@media.image.url(:medium), :border => 0, :title => @media.display_tags, :id => "display_photo_#{@media.id}"), @media.image.url) %>');
<% elsif @media.is_a?Video %>
  $('#photo').html('<%= video_tag(@media.image.url(:theora), :title => @media.display_tags, :id => "display_photo_#{@media.id}", :controls => true) %>');
<% end %>
$('#next_container').empty();
<% unless @next.nil? %>
  $('#next_container').append("<a id='nextLink' data-remote='true' href='<%=url_for(:action => :show, :id => @next)%>'></a>");
  $('#nextLink').append("<div id='next' class='video_preview' style='width: <%=@next.thumb_width%>px; height: <%=@next.thumb_height%>px;'>");
  $('#next').append('<%=thumbnail_for(@next)%>');
<% end %>
$('#footer').html('<div id="display_tags"><%= @media.display_tags %></div><%= @media.taken_at.strftime('%Y-%m-%d %H:%M:%S (%a)') %><br/>  <%= link_to "Slideshow", :action => :slideshow, :id => @media.id %> <%= link_to "Edit", :action => :edit, :id => @media.id %>');
$('#stars').html('<div id="stars"></div>');

$(function() {
    $('#stars').raty({
      half: true,
      path: "/images/",
      <% unless @media.stars.nil? %>
        start: <%= @media.stars %>,
      <% end %>
      click: function(score) {
        $.get("/media/<%=@media.id%>/stars", {stars: score})
      }
    });

    $('#display_tags').editable("/media/<%= @media.id %>/update_tags",
      { tooltip: 'Click to edit..',
        type: 'autocomplete',
        onblur: "submit",
        callback: function(value, settings) {
          $.get("/media/<%=@media.id%>/update_tag_display", {
            old_tags: $("#display_photo_<%=@media.id%>").attr('title')
          });
        },
autocomplete: {
          minLength: 2,
          source: "/tags/complete_tag",
          focus: function() {
            return false;
          },
          select: selectTag
        }
      });

    <% if @prev.is_a?Video %>
      $("#prev").<%= video_preview_for @prev %>
    <% end %>
    <% if @next.is_a?Video %>
      $("#next").<%= video_preview_for @next %>
    <% end %>
});

jQuery(document).trigger('reveal.facebox');
