<h1>Listing photos</h1>

<div id="container">
  <p id="notice"><%= notice %></p>
  <p><%= page_entries_info @photos %>

  <div class="histogram">
    <%= image_tag("/photos/histogram") %>
  </div>
  <%= form_tag('/photos/filter_tags') %>
  <table id="photos">
    <% counter = 0 %>
    <% @photos.each do |photo| %>
      <% if counter % 6 == 0 %>
        <tr id="counter_<%= counter %>">
        <% end %>
          <td id="photo_<%= photo.id %>" class="thumbnail">
            <div class="thumbnail_inner">
            <%= link_to(image_tag("/photos/#{photo.id}/thumbnail", :title => "#{photo.path}", :border => 0), {:action => :show, :id => photo.id}, {:rel => "facebox"}) %>
            <div class="thumb_footer">
              <%= check_box_tag "pics[]", "#{photo.id}", false, :class => "pic_select", :tabindex => counter += 1, :id => "pic_#{photo.id}" %>
              <span class="thumb_tags" title="<%= photo.display_tags %>">
                <% trail = "" %>
                <% trail = "..." if photo.display_tags.size > 17 %>
                <label for="pic_<%= photo.id %>">
                  <%= photo.display_tags.slice(0,17) + trail %><br/>
                  <%= photo.taken_at.strftime("%Y-%m-%d %H:%m:%S") %>
                </label>
              </span>
            </div>
          </div>
          </td>
        <% if counter % 6 == 0 || counter == @photos.count %>
        </tr>
      <% end %>
    <% end %>
  </table>

  <div id="tags">
    <%= render_tree(Tag.arrange, :class => 'sortable') do |node, child| %>
      <li class="tag" id="tag_<%= node.id %>">
        <% rel = "" %>
        <% unless node.thumbnail.nil? %>
          <% rel = "rel='htmltooltip'" %>
        <% end %>
        <div class="tag_inner" <%= rel %>>
          <% unless node.photos.empty? %>
            <%= check_box_tag "tags[]", "#{node.id}", @selected_tags.find_index("#{node.id}").nil? ? false : true, :tabindex => counter += 1 %>
          <% else %>
            <%= "&nbsp;".html_safe * 4 %>
          <% end %>
          <%= link_to(node.name, :controller => :tags, :action => 'edit', :id => node.id) %>
          <%= "(#{node.photos.count})" %>
        </div>
        <% unless node.thumbnail.nil? %>
          <div class="htmltooltip">
            <%= image_tag("/tags/#{node.id}/display_thumbnail") %>
          </div>
        <% end %>
        <%= child %>
      </li>
    <% end %>
    <%= submit_tag "filter" %>
    <%= submit_tag "assign" %>
    <%= submit_tag "remove" %>
    <button id="saveListButton">Save List</button>
    <br/>
    <%= link_to("New tag", :controller => :tags, :action => 'new') %>
  </div>
</form>

<div class="footer">
  <br/><br/>
  <% if @sort.eql? "asc" %>
    <%= link_to("Descending", :action => 'index', :sort => 'desc') %>
  <% else %>
    <%= link_to("Ascending", :action => 'index', :sort => 'asc') %>
  <% end %>
  <br/>
  <%= link_to "Scan for new photos", :action => 'rescan' %>
  <% if !@photos.empty? %>
    <%= link_to "Start slideshow", :action => 'slideshow', :id => @photos.first.id %>
  <% end %>
  <%= will_paginate @photos %>
</div>
</div>
<% unless @modal.nil? %>
  <script type="text/javascript">
    var foobarHeight = "<%= @photo_height %>";
    var foobarWidth = "<%= @photo_width %>";
    jQuery.facebox({ajax: "/photos/<%= @modal %>"})
  </script>
<% end %>
