<h1>Listing photos</h1>

<div id="container">
  <p id="notice"><%= notice %></p>
  <p><%= page_entries_info @photos %>

  <% cache(:action => 'index', :action_suffix => "histogram_#{@selected_tags.to_s}") do %>
    <div class="histogram">
      <ul class="histogram">
        <% for histogram in 0..(@histogram_data.count - 1) %>
          <li>
          <%= link_to(image_tag("/photos/histogram?slice=#{histogram}&current=false", :border => 0, :title => "jump to page #{@histogram_data[histogram]}", :id => "histimg_#{histogram}"), :action => :index, :page => @histogram_data[histogram]) %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_tag('/photos/filter_tags') %>
  <table id="photos">
    <% counter = 0 %>
    <% @photos.each do |photo| %>
      <% if counter % 6 == 0 %>
        <tr id="counter_<%= counter %>">
        <% end %>
          <td id="photo_<%= photo.id %>" class="thumbnail">
            <div class="thumbnail_inner">
            <%= link_to(image_tag(photo.image.url(:thumbnail), :title => "#{photo.path}", :border => 0), {:action => :show, :id => photo.id}, {:rel => "facebox"}) %>
            <div class="thumb_footer">
              <%= check_box_tag "pics[]", "#{photo.id}", false, :class => "pic_select", :tabindex => counter += 1, :id => "pic_#{photo.id}" %>
              <span class="thumb_tags" title="<%= photo.display_tags %>">
                <% trail = "" %>
                <% trail = "..." if photo.display_tags.mb_chars.size > 17 %>
                <label for="pic_<%= photo.id %>">
                  <%= photo.display_tags.mb_chars.slice(0,17).to_s + trail %><br/>
                  <%= photo.taken_at.strftime("%Y-%m-%d %H:%m:%S") %>
                </label>
              </span>
            </div>
          </div>
          </td>
        <% if counter % 6 == 0 || counter == @photos.count %>
        </tr>
      <% end %>
    <% end %>
  </table>

  <% cache(:action => 'index', :action_suffix => "tags_#{@selected_tags.to_s}") do %>
    <div id="tags">
      <%= render_tree(Tag.arrange, :class => 'sortable') do |node, child| %>
        <li class="tag" id="tag_<%= node.id %>" tag="<%= node.id %>">
        <% rel = "" %>
        <% if node.thumbnail? %>
          <% rel = "rel='htmltooltip'" %>
        <% end %>
        <div class="tag_inner" <%= rel %>>
          <% unless node.photos.empty? %>
            <%= check_box_tag "tags[]", "#{node.id}", @selected_tags.find_index("#{node.id}").nil? ? false : true, :tabindex => counter += 1 %>
          <% else %>
            <%= "&nbsp;".html_safe * 4 %>
          <% end %>
          <%= link_to(node.name, :controller => :tags, :action => 'edit', :id => node.id) %>
          <% unless node.photos.empty? %>
            <%= "(#{node.photos.count})" %>
          <% end %>
          <% if node.has_descendants? %>
            <%= image_tag("/images/down_arrow.png", :title => "Hide \"#{node.name}\"", :class => "folding_arrow", :id => "arrow_#{node.id}") %>
          <% end %>
        </div>
        <% if node.thumbnail? %>
          <div class="htmltooltip">
            <%= image_tag(node.thumbnail.url) %>
          </div>
        <% end %>
        <%= child %>
        </li>
      <% end %>
      <%= submit_tag "filter" %>
      <%= submit_tag "assign" %>
      <%= submit_tag "remove" %>
      <br/>
      <%= link_to("New tag", :controller => :tags, :action => 'new') %>
    </div>
  <% end %>
</form>

<div class="footer">
  <br/><br/>
  <% if @sort.eql? "asc" %>
    <%= link_to("Descending", :action => 'index', :sort => 'desc') %>
  <% else %>
    <%= link_to("Ascending", :action => 'index', :sort => 'asc') %>
  <% end %>
  <br/>
  <% if !@photos.empty? %>
    <%= link_to "Start slideshow", :action => 'slideshow', :id => @photos.first.id %>
  <% end %>
  <%= will_paginate @photos %>
</div>
</div>
<script type="text/javascript">

  $('img.folding_arrow').click(function(e){
      $(this).parent().parent().children("ul").toggle('fast', function(){
        $.post("/photos/toggle_tag", {tag: $(this).parent().attr('tag'), hidden: $(this).is(':hidden')});
        });
      });

  $(function(){
      //Get our elements for faster access and set overlay width
      var div = $('div.histogram'),
      ul = $('ul.histogram');
      var divWidth = div.width();
      div.css({overflow: 'hidden'});
      var lastLi = ul.find('li:last-child');
      div.mousemove(function(e){
        var ulWidth = lastLi[0].offsetLeft + lastLi.outerWidth();
        var left = (e.pageX - div.offset().left) * (ulWidth-divWidth) / divWidth;
        div.scrollLeft(left);
        });
  });

  <% unless @modal.nil? %>
    $(function($) {
      jQuery.facebox({ajax: "/photos/<%= @modal %>"});
    });
  <% end %>

  $(function($) {
      <% @hidden_tags.each do |tag| %>
        tag = $("li#tag_<%= tag %>").children("ul");
        tag.hide();
        img = $("img#arrow_<%= tag %>");
        img.attr('src',"/images/right_arrow.png");
      <% end %>

      <% @current_hist.each do |current| %>
        img = $("img#histimg_<%= current %>")
        img.attr('src', "/photos/histogram?slice=<%=current%>&current=true");
      <% end %>
      })
</script>
