<p id="notice"><%= notice %></p>
<div class="show_photo">
  <table>
    <tr>
      <td>
        <div id="prev">
          <% if !@prev.nil? %>
            <%= link_to(image_tag("/photos/#{@prev.id}/thumbnail", :border => 0, :title => "Previous photo"), {:action => :showmodal, :id => @prev}, {:remote => true}) %>
          <% end %>
        </div>
      </td>
      <td>
        <div id="photo">
          <%= link_to(image_tag("/photos/#{@photo.id}/mediumimage", :border => 0, :title => @photo.display_tags), :action => :image) %><br/>
        </div>
      </td>
      <td>
        <div id="next">
          <% if !@next.nil? %>
            <%= link_to(image_tag("/photos/#{@next.id}/thumbnail", :border => 0, :title => "Next photo"), {:action => :showmodal, :id => @next}, {:remote => true}) %>
          <% end %>
        </div>
      </td>
    </tr>
  </table>
</div>
<div id="footer">
  <%= @photo.display_tags %><br/>
  <%= @photo.taken_at %><br/>
  <%= link_to "Slideshow", :action => :slideshow, :id => @photo.id %>
  <%= link_to "Edit", :action => :edit, :id => @photo.id %>
</div>
