<p id="notice"><%= notice %></p>
<div class="show_photo">
  <table>
    <tr>
      <td>
        <div id="prev">
          <% if !@prev.nil? %>
            <%= link_to(image_tag(@prev.image.url(:thumbnail), :border => 0, :title => "Previous photo"), {:action => :show, :id => @prev}, {:remote => true, :id => 'prevLink'}) %>
          <% end %>
        </div>
      </td>
      <td>
        <div id="photo">
          <%= link_to(image_tag(@photo.image.url(:medium), :border => 0, :title => @photo.display_tags), @photo.image.url) %><br/>
        </div>
      </td>
      <td>
        <div id="next">
          <% if !@next.nil? %>
            <%= link_to(image_tag(@next.image.url(:thumbnail), :border => 0, :title => "Next photo"), {:action => :show, :id => @next}, {:remote => true, :id => 'nextLink'}) %>
          <% end %>
        </div>
      </td>
    </tr>
  </table>
</div>
<div id="footer">
  <div id="display_tags"><%= @photo.display_tags %></div>
  <%= @photo.taken_at.strftime('%Y-%m-%d %H:%M:%S (%a)') %><br/>
  <%= link_to "Slideshow", :action => :slideshow, :id => @photo.id %>
  <%= link_to "Edit", :action => :edit, :id => @photo.id %>
</div>
<div id="stars"></div>

<script type="text/javascript">
  $(function() {
      $('#stars').raty({
        half: true,
        path: "/images/",
        <% unless @photo.stars.nil? %>
          start: <%= @photo.stars %>,
        <% end %>
        click: function(score) {
          $.get("/photos/<%=@photo.id%>/stars", {stars: score})
          }
        });

      $('#display_tags').editable("/photos/<%= @photo.id %>/update_tags",
        { tooltip: 'Click to edit..',
          type: 'autocomplete',
          onblur: "submit",
          autocomplete: {
            minLength: 2,
            source: "/tags/complete_tag",
            focus: function() {
              return false;
            },
            select: selectTag
          }
        });
    });
  
</script>
