<!DOCTYPE html>
<html>
<head>
  <title>NasGui</title>
  <%= include_stylesheets :default %>
  <%= include_javascripts :default %>
  <%= csrf_meta_tag %>
  <% if @refresh %>
    <meta http-equiv="refresh" content="4;url=<%= @refresh %>" />
  <% end %>
</head>
<body>

<%= yield %>

</body>
</html>
